@charset "utf-8";

//------------------------------------------------------------------------------
//
//	footer
//  
//------------------------------------------------------------------------------
footer {

}
.copyright{
  color: $white;
  background: $bgColor;
  padding: 1rem 0;
  font-size: 1.3rem;
}
.back-to-top {
  position: absolute;
  right: 10px;
  bottom: 60px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  top: auto !important;
  height: 40px;
  width: 40px;
  background-color: $bgColor;
  border: 2px solid $bgColor;
  line-height: 36px;
  border-radius: 4px;
  transition: all 0.3s ease-out 0s;
  transform: translateY(-120px);
  opacity: 0;
  visibility: hidden;

  &:hover {
    color: #fff;
    background-color: $hover;
    border-color: $hover;
  }
  svg{
    fill: #fff;
    width: 50%;
    height: 100%;
  }
  &.show {
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}