footer
  .copyright
    .container
      .row
        .col-sm-12.text-center
          span
            | © Bản quyền thuộc về 
            b Trung tâm Quản trị hệ thống 
            span.s480-f |
            |  Cung cấp bởi 
            a(href='http://laotama.com/' title='Thanh Tung' target='_blank' rel='nofollow') Thanh Tung 
      .back-to-top.text-center.js-pagetop(title='Lên đầu trang'): <svg><use xlink:href="#back-top"></use></svg>
