.tophead
  .container
    .welcome-header
      | Chào mừng bạn đến với phòng vé máy bay Thanh Tùng
    .group_topbar
      .time_header
        i.far.fa-clock
        span Thời gian làm việc: 8:00 - 19:00
      .account
        .ac_hover
          i.far.fa-user
          span Tài khoản
        .group_ac
          a.btnx(href='/account/login') Đăng nhập
          a(href='/account/register') Đăng ký 
