.header_top
  .container
    .row.no-gutters
      .col-xs-12.col-sm-12.col-md-7.col-lg-7
        h1 Chào mừng bạn đến với website của chúng tôi !
      .col-xs-12.col-sm-12.col-md-5.col-lg-5
        ul.header_top_contact
          li
            span Hotline:
            a(href="tel:0327421742").tel 032 742 1742
          li
            span Email:
            a(href="mailto:laotama742@gmail.com") laotama742@gmail.com
  