header.header
  .mid-header
    .container.content_header
      .row.align-items-center
        .col-xl-3.col-lg-3.col-12
          .menu-bar-mobile.d-block.d-lg-none: i.fa.fa-bars
          .logo
            a.logo-wrapper(href='/')
              img(src='./templates/images/logo.png' alt='vé máy bay Thanh Tùng')
          a.cart-mobile-header.d-block.d-lg-none(href='/cart')
            i.fas.fa-shopping-basket
            span.count_item 0
        .col-xl-6.col-lg-5.col-12
          .search-smart
            .header_search
              form.input-group.search-bar(action='/search' method='get' role='search')
                .collection-selector
                  .search_text Chọn danh mục
                  #search_info.list_search(style='display: none;')
                    .search_item(data-coll-id='2424574' title='Thiết bị y tế') Thiết bị y tế
                    .search_item(data-coll-id='2424566' title='Thực phẩm chức năng') Thực phẩm chức năng
                    .search_item(data-coll-id='2424563' title='Tủ thuốc gia đình') Tủ thuốc gia đình
                    .search_item(data-coll-id='2424561' title='Sản phẩm khuyến mại') Sản phẩm khuyến mại
                    .search_item(data-coll-id='2424556' title='Sản phẩm nổi bật') Sản phẩm nổi bật
                    .liner_search
                    .search_item.active(data-coll-id='0') Tất cả
                input.input-group-field.st-default-search-input.search-text(type='search' name='query' value='' placeholder='Bạn cần tìm gì hôm nay... ' autocomplete='off' required='')
                span.input-group-btn
                  button.btn.icon-fallback-text: i.fas.fa-search
        .col-xl-3.col-lg-4.col-md-12.d-none.d-lg-block
          .cartgroup
            .header-right
              .phone_header
                .phone_image: i.fas.fa-mobile-alt
                .phone_content
                  span Đặt hàng nhanh
                  a.fone(href='tel:18006750') 1800 6750
              .mini-cart
                a.img_hover_cart(href='/cart' title='Giỏ hàng')
                  .img-cart
                    i.fas.fa-shopping-basket
                    span.count_item.count_item_pr 0
                  span.text Giỏ hàng
                .top-cart-content
                    ul#cart-sidebar.mini-products-list.count_li
                      li.no-item
                        p Không có sản phẩm nào.
