nav 
  .container
    ul#nav.nav
      li.nav-item.active
        a.nav-link(href='#' title='menu1') menu1
      li.nav-item
        a.nav-link(href='#' title='menu2') menu2
      li.nav-item.has-childs
        a.nav-link(href='#' title='menu3')
          | menu3 
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.656 490.656' style='enable-background:new 0 0 490.656 490.656;' xml:space='preserve' width='25px' height='25px')
            path.active-path(d='M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z' data-original='#000000' data-old_color='#000000' fill='#141414')
        ul.dropdown-menu  
          li.nav-item-lv2
            a.nav-link(href='#' title='sub-menu3') sub-menu3
          li.nav-item-lv2
            a.nav-link(href='#' title='sub-menu3') sub-menu3
          li.nav-item-lv2
            a.nav-link(href='#' title='sub-menu3') sub-menu3
      li.nav-item
        a.nav-link(href='#' title='menu4') menu4
      li.nav-item
        a.nav-link(href='#' title='menu5') menu5
      li.nav-item.has-childs
        a.nav-link(href='#' title='menu6')
          | menu6 
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.656 490.656' style='enable-background:new 0 0 490.656 490.656;' xml:space='preserve' width='25px' height='25px')
            path.active-path(d='M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z' data-original='#000000' data-old_color='#000000' fill='#141414')
        ul.dropdown-menu
          li.dropdown-submenu.nav-item-lv2.has-childs2
            a.nav-link(href='#' title='sub-menu6')
              | sub-menu6 
              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.656 490.656' style='enable-background:new 0 0 490.656 490.656;' xml:space='preserve' width='25px' height='25px')
                path.active-path(d='M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z' data-original='#000000' data-old_color='#000000' fill='#141414')
            ul.dropdown-menu
              li.nav-item-lv3
                a.nav-link(href='#' title='sub-menu6') sub-menu6
              li.nav-item-lv3
                a.nav-link(href='#' title='sub-menu6') sub-menu6
              li.nav-item-lv3
                a.nav-link(href='#' title='sub-menu6') sub-menu6
          li.nav-item-lv2
            a.nav-link(href='#' title='sub-menu6') sub-menu6
          li.nav-item-lv2
            a.nav-link(href='#' title='sub-menu6') sub-menu6
          li.nav-item-lv2
            a.nav-link(href='#' title='sub-menu6') sub-menu6
      li.nav-item
        a.nav-link(href='#' title='menu7') menu7
      li.nav-item
        a.nav-link(href='#' title='menu8') menu8
